---
import Layout from "../layouts/Layout.astro";
import Background from "../components/background/Background.astro";
import Nav from "../components/nav/Nav.astro";
import Hero from "../components/act1-hero/Hero.astro";
import PassportBadges from "../components/act3-passport/PassportBadges.astro";
---

<Layout>
  <Background />
  <Nav />

  <main style="position: relative; z-index: var(--z-content);">
    <Hero />
    <PassportBadges />
  </main>
</Layout>
